.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner__title {
    margin-left: 120px;
    margin-top: 109px;
    /*margin-left: 120px;
    margin-top: 168px;*/
}

.banner__title span {
    width: 660px;
    height: 144px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 72px;
    /* or 103% */
    color: #000000;
}

.banner__educat img {
    width: 301px;
    height: 456px;
    margin-right: 148px;
    margin-top: -34px;
}

.banner__menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-top: 24px;
    /*width: 753px;
    height: 24px;*/
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    color: #000000;
}

.banner__menu p {}

.start__lesson {
    width: 286px;
    height: 60px;
    margin-top: 42px;
    left: 120px;
    top: 384px;
    color: white;
    background: #024FEB;
    border-radius: 6px;
    border: none;
}


/* Iphone 320x480 */

@media only screen and (max-width: 320px) {
    .banner {
        flex-wrap: wrap;
        width: 100%;
    }
    .banner__title {
        width: 100%;
        margin: 0 auto;
    }
    .title__mobile {
        margin-right: 16px!important;
        margin-left: 16px!important;
        margin-top: 48px!important;
        text-align: center;
    }
    .banner__title span {
        width: 288px;
        height: 144px;
        font-family: GolosText;
        font-size: 36px;
        line-height: 44px;
        color: #19191A;
    }
    .banner__educat img {
        display: none;
        /*width: 301px;
        height: 456px;
        margin-right: 148px;
        margin-top: -34px;*/
    }
    .banner__menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 24px;
        /*width: 753px;
        height: 24px;*/
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        /* identical to box height, or 160% */
        color: #000000;
    }
    .banner__menu p {}
    .start__lesson {
        width: 288px;
        height: 48px;
        color: white;
        margin-top: 24px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 26px;
        background: #024FEB;
        border-radius: 6px;
        border: none;
    }
}