.curse__info {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 48px;
}

.curse__card .title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    color: #000000;
}

.curse__card .title:not(:last-child) {
    margin-right: 91px;
}

.curse__card .description {
    margin-top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    color: #000000;
}

.curse__card .description:not(:last-child) {
    margin-right: 60px;
}