.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    display: flex;
    width: 204px;
    height: 34px;
    margin-left: 120px;
    margin-bottom: 42.63px;
}

.footer__right {
    display: flex;
    margin-right: 120px;
    /*margin-bottom: 48px;
   
    margin-left: 600px;*/
}

.footer-menu a {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    /* identical to box height, or 160% */
    text-align: right;
    color: #000000;
}