.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.footer__left {
    display: flex;
    width: 204px;
    height: 34px;
    margin-left: 120px;
    margin-bottom: 42.63px;
}

.footer__right {
    display: flex;
    margin-left: 276px;
    margin-right: 120px;
    margin-bottom: 48px;
}

.footer-menu a {
    margin-right: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    text-align: right;
    color: #000000;
}


/* Iphone 320x480 */

@media only screen and (max-width: 320px) {
    .footer {
        width: 320px;
        flex-wrap: wrap;
        margin-top: 72px;
    }
    .footer__left {
        display: flex;
        width: 173px!important;
        height: 29px!important;
        margin: 0 auto!important;
    }
    .footer__right {
        margin: 0 auto!important;
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-menu a {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        text-decoration: none;
        text-align: center!important;
        color: #000000;
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .footer__left {
        display: flex;
        width: 204px;
        height: 34px;
        margin-left: 120px;
        margin-bottom: 42.63px;
    }
    .footer__right {
        display: flex;
        margin-right: 120px;
        align-items: center;
        /*margin-bottom: 48px;
       
        margin-left: 600px;*/
    }
    .footer-menu a {
        margin-right: 15px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        text-decoration: none;
        /* identical to box height, or 160% */
        text-align: right;
        color: #000000;
    }
}