.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-top: 24px;
    margin-left: 120px;
    width: 204px;
    height: 34px;
}

.language-logo {
    display: flex;
    margin-top: 20px;
    margin-right: 152px;
    width: 28px;
    height: 28px;
}

.language__select {
    border: none;
}

.language__select option {
    width: 74px;
    height: 64px;
    left: 1246px;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 1px 8px #CACBCC;
}