.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    margin-top: 24px;
    margin-left: 120px;
    width: 204px;
    height: 34px;
}

.language-logo {
    display: flex;
    margin-top: 20px;
    margin-right: 152px;
    width: 28px;
    height: 28px;
}

.language__select {
    border: none;
    margin-left: 10px;
    -webkit-appearance: none;
}


/*.language__select::-ms-expand {
    display: none;
}*/

.language__select option {
    width: 74px;
    height: 64px;
    left: 1246px;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 1px 8px #CACBCC;
}


/*@media (min-width: 1200px) {
    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .logo {
        display: flex;
        margin-top: 26px;
        margin-left: 16px;
        width: 173px;
        height: 29px;
    }
    .language-logo {
        display: flex;
        margin-top: 29px;
        margin-left: 16px;
        margin-right: 58px;
        width: 57px;
        height: 28px;
    }
    .language__select {
        border: none;
        margin-left: 10px;
        -webkit-appearance: none;
    }
}*/


/*@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1024px) {}


@media only screen and (min-width: 1200px) {}*/