.lesson__info {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 61px;
    width: 1200px;
    top: 505px;
    background: #FFFFFF;
    box-shadow: 0px -2px 0px #000000, 0px 2px 0px #000000;
}

.lesson__info p {
    margin-top: 23px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    color: #000000;
}


/* Iphone 320x480 */

@media only screen and (max-width: 320px) {
    .lesson__info {
        width: 100%;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 0px;
        width: 288px;
        height: 178px;
        background: #FFFFFF;
        box-shadow: 0px -2px 0px #000000, 0px 2px 0px #000000;
    }
    .lesson__info p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 500;
        font-family: GolosText;
        font-size: 15px;
        line-height: 24px;
    }
}