.watch__video {
    position: relative;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
    margin-bottom: 12px;
    width: 960px;
    height: 540px;
    background-image: url(../assets/watch-video.svg);
    background-repeat: no-repeat;
}

.play__button {
    position: absolute;
    margin-right: 358px;
    margin-top: 144px;
    margin-left: 532px;
    margin-bottom: 326px;
    width: 70px;
    height: 70px;
}

.watch__title {
    position: absolute;
    margin-left: 630px;
    margin-top: 168px;
    margin-bottom: 348px;
    width: 360px;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.watch__description {
    position: absolute;
    margin-left: 540px;
    margin-top: 264px;
    margin-right: 60px;
    margin-bottom: 156px;
    width: 360px;
    height: 120px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}